body {
    background-image: url("../images/cubes.png")
}

.header {
    border-bottom: 5px solid #0153a0;
}

.characterSelectMenu {
    border: 5px solid transparent;
    margin: 0px 5px 0px 5px;
}

.characterHover {
    border: 5px solid rgb(6, 250, 6);
}

.card-text {
    font-size:20px;
}

.userCharacterSelected {
    border:5px solid rgb(6, 250, 6);
}

.enemyCharacterSelected {
    border:5px solid rgb(235, 3, 3);
}

.deadCharacter {
    background-color: red;
}

#userCharacter {
    z-index:10;
}